global
    maxconn 1000

defaults
    log global
    mode tcp #  HAProxy sẽ chỉ chuyển tiếp các gói tin dạng byte thô chữ không bóc tách đọc hiểu dữ liệu SQL.
    retries 2 # bị thất bại, HAProxy sẽ cố gắng kết nối lại tối đa 2 lần trước 
    timeout client 30m # Giới hạn thời gian tối đa nếu ứng dụng (client) không làm gì
    timeout connect 4s # Thời gian tối đa để bắt tay tạo kết nối 3-way TCP tới Server DB
    timeout server 30m # Giới hạn thời gian tối đa nếu Server DB không làm gì
    timeout check 5s # Thời gian tối đa chờ đợi cho các tác vụ ping "Health Check"

# Dashboard UI
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

# Port 5000: chi dinh tuyen ghi (write) den primary node
listen primary
    bind *:5000
    option httpchk GET /primary # kiểm tra node DB. (Lưu ý: Nó gửi ping này tới cổng 8008)
    http-check expect status 200 
    default-server inter 1000 fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-node-1 pg-node-1:5432 maxconn 100 check port 8008
    server pg-node-2 pg-node-2:5432 maxconn 100 check port 8008
    server pg-node-3 pg-node-3:5432 maxconn 100 check port 8008

# Port 5001: chi dinh tuyen doc (read) den standby node
listen standbys
    balance roundrobin
    bind *:5001
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg-node-1 pg-node-1:5432 maxconn 100 check port 8008
    server pg-node-2 pg-node-2:5432 maxconn 100 check port 8008
    server pg-node-3 pg-node-3:5432 maxconn 100 check port 8008
